.slider-main-container {
	position: relative;
	box-sizing: border-box;
	text-align: left;
	display: block;
	max-width: 400px;
	margin: 0;
	padding: 0;
}

.slider-main-thumbnail {
	float: center;
	padding: 4px;
	margin: 0;
	box-sizing: border-box;
	border: 4px solid #ddd;
	border-radius: 6px;	
}

.slider-container {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    /*vertical-align: center;*/
	text-align: center;
}

.slider-image {
    display: none;
    margin: 0 auto;
	padding: 0;
	vertical-align: center;
}

.slider-mold {
	display: block;
	margin: 0 auto;
    border: 6px solid #adababab;
    border-radius: 5px;
	box-sizing: border-box;
    box-shadow: 2px 2px 4px 4px #0707077c;
}

.slider-text-caption {
    padding: 10px;
    text-align: center;
    font-size: 11px;
    color: black;
}

.slider-image img {
    text-align: center;
    animation-name: fade;
    animation-duration: 1s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s; 
}


@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

.slider-bar {
   margin: 0;
   padding: 2px;

}

.slider-previous-button {
    cursor: pointer;
    position: absolute;
    padding: 16px;
    top: 0;
	left: 0;
    margin-top: 30%;
    float: left;
    width: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #ffffffa9;
    text-shadow: 1px 1px 5px black;
    
}

.slider-previous-button:hover {
    background-color: #cecece81;
    transition: 0.3s;
}

.slider-next-button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    margin-top: 30%;
    float: right;
    width: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #ffffffa9;
    text-shadow: 1px 1px 5px black;

}

.slider-next-button:hover {
    background-color: #cecece81;
    transition: 0.3s;
}
